body {
  font-family: monospace;
}

article {
  background-color: cornflowerblue;
  border: 1px solid darkblue;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

img {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
}
